/* CSS styling for the title */
/* CSS styling for the main heading */
h1 {
  background-image: linear-gradient(to right, #5E5AA8, #FF5F6D);
  /* Gradient background */
  -webkit-background-clip: text;
  /* Apply the background to the text */
  -webkit-text-fill-color: transparent;
  /* Make the text transparent */
  font-family: 'Helvetica Neue', sans-serif;
  /* Font family */
  font-size: 4em;
  /* Font size */
  text-align: center;
  /* Center align the text */
}

h2 {
  background-image: linear-gradient(to right, #5E5AA8, #FF5F6D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: animate-gradient 3s ease infinite;
  /* Font family */
  font-size: 2.5em;
  /* Font size */
  text-align: center;
  /* Center align the text */

}

@keyframes animate-gradient {
  0% {
      background-position: 0 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0 50%;
  }
}

.button-container {
  text-align: center;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

}

button:hover {
  background-color: #0062cc;
}

#chartdiv {
  width: 100%;
  height: 500px;
}
